main {
	width: 1000px;
	margin: 30px auto;
}

main h1 {
	margin-bottom: 20px;
    font-size: 50px;
    text-align: center;
}

main span {
	font-size: 20px;
}

table.masterlist {
	width: 100%;
	border-collapse: collapse;
}

table.masterlist th {
	background: #aaa;
	text-align: left;
}

table.masterlist th, table.masterlist td {
	padding: 10px;
	border-bottom: 1px solid #aaa;
}

table.masterlist a {
    text-decoration: underline;
}